.hero {
    min-height: 400px; /* Altura mínima del banner */
    background: linear-gradient(to right, #A65A1A, #490702); /* Degradado de colores café */
    color: #fff; /* Texto en color blanco */
}

.hero {
    position: relative;
    width: 100%;
    height: 65vh;
    min-height: 400px;
    background-image: url('/Assets/Images/ariov60.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
}

    .gradient-overlay > .container {
        position: relative;
        z-index: 1;
        color: white;
        padding-top: 90px;
    }

.btn-comprar {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-informacion {
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.hero-img {
    width: 100%;
    max-width: 512px;
}

.logo-text {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    color: saddlebrown
}

.logo-text-small {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: left;
}

.logo-link {
    text-decoration: none;
}

.cat-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

    .cat-link:not(:last-child)::after {
        content: "|";
        margin-left: 15px;
    }


.a-add-to-cart {
    background: #FFD814;
    border-color: #FCD200;
    border-radius: 60px;
    color: #0F1111;
}

.a-price {
    font-size: 32px;
    position: relative;
    line-height: normal;
}

    .a-price .a-price-symbol {
        top: -.75em;
        font-size: 13px;
    }

.a-price-symbol {
    font-size: 13px;
    padding-top: 7px;
}

.a-price-fraction {
    font-size: 13px;
    padding-top: 7px;
}
