.main-height {
    min-height: 70vh;
}
.hero {
    min-height: 400px; /* Altura mínima del banner */
    background: linear-gradient(to right, #A65A1A, #490702); /* Degradado de colores café */
    color: #fff; /* Texto en color blanco */
}

.hero {
    position: relative;
    width: 100%;
    height: 65vh;
    min-height: 400px;
    background-image: url('/Assets/Images/ariov60.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
}

    .gradient-overlay > .container {
        position: relative;
        z-index: 1;
        color: white;
        padding-top: 90px;
    }

.btn-comprar {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-informacion {
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.hero-img {
    width: 100%;
    max-width: 512px;
}

.logo-text {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    color: saddlebrown
}

.logo-text-small {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: left;
}

.logo-link {
    text-decoration: none;
}

.cat-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

    .cat-link:not(:last-child)::after {
        content: "|";
        margin-left: 15px;
    }

.btn-cart {
    border-radius: 60px;
    padding: 5px 25px;
}

.btn-add-to-cart {
    background: #FFD814;
    border-color: #FCD200;
    border-radius: 60px;
    color: #0F1111;
}

    .btn-add-to-cart:hover {
        background: #fc8200;
        border-color: #fc7800;
        color: #ffffff;
    }


.btn-view-details {
    background: transparent;
    border-color: #0F1111;
    border-radius: 60px;
}

.a-price {
    font-size: 32px;
    position: relative;
    line-height: normal;
}

    .a-price .a-price-symbol {
        top: -.75em;
        font-size: 13px;
    }

.a-price-symbol {
    font-size: 13px;
    padding-top: 7px;
}

.a-price-fraction {
    font-size: 13px;
    padding-top: 7px;
}

.modal-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background-color: transparent;
    z-index: 9999;
    border: 0;
    font-size: 24px;
}

.max-80 {
    max-width: 80px;
}

.product-name {
    font-weight: 700;
    font-size: 1rem;
}

.product-desc {
    font-size: 0.8rem;
}

.product-cat {
    font-size: 0.8rem;
    color: #6c757d;
}

.product-img {
    width: 100%;
    max-width: 80px;
    margin-right: 15px;
}

    .product-img img {
        width: 100%;
        height: auto;
    }

.small-img {
    max-width: 30px;
}
.btn-rounded {
    border-radius: 60px;
}

.btn-clear-cart {
    background: #dc3545;
    border-color: #dc3545;
    border-radius: 60px;
    color: #ffffff;
}

    .btn-clear-cart:hover {
        background: #c82333;
        border-color: #bd2130;
        color: #ffffff;
    }

.cart-table {
    border: none;
}

.table > :not(caption) > * > * {
    border-bottom: 1px solid #cecece;
    padding: 10px;
    vertical-align: middle;
}

.cart-summary {
    margin-top: 50px;
    padding: 30px;
}

.cart-summary h6 {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 15px;
}


.cart-summary {
    border: solid 1px #eeeeee;
}

.cart-label {
    font-weight: 400;
    font-size: 0.8rem;
    color: #6c757d;   
}

.cart-value {
    font-weight: 400;
    font-size: 0.8rem;
}

.cart-row {
    padding-bottom: 8px;
}

.cart-total {
    font-size: 1rem;
    font-weight: 700;
    border-top: 1px solid #cacaca;
    padding: 10px 0;
    margin-bottom: 20px;
}

    .cart-total input {
        margin: 0 auto;
    }

.cart-actions {
    text-align: center;
    margin-bottom: 20px;
}

.lnk-continue-shopping {
    color: #0F1111;
    font-size: 0.9rem;
}

.card-text {
    font-size: 0.9rem;
    padding-bottom: 8px;

}

.card-label {
    min-width: 120px;
}

.update-status {
    max-width: 450px;
}

.min-width-label {
    min-width: 155px;
}